html body {
    width: 500px;
    height: 400px;

    display: flex;
    flex-direction: column;

    margin: 0px;
}

header {
    flex-grow: 0;

    padding: 16px;

    border-bottom: 1px solid #A0A0A0;
}

header #top-header {
    display: flex;

    gap: 26px;

    margin-bottom: 24px;
}

header #popup-title {
    flex-grow: 0;
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 50;
}

header #styled-line-wrapper {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

header #styled-line {
    position: relative;
    height: 1px;

    flex-grow: 1;
    
    background-color: black;
}

#styled-line::before {
    content: '';
    width: 6px;
    height: 6px;

    position: absolute;
    left: -3px;

    background-color: black;
    border-radius: 50%;

    top: 51%;
    transform: translateY(-50%);
}

#styled-line::after {
    content: '';
    width: 0px;
    height: 0px;

    position: absolute;
    right: -3px;

    border-bottom: 5px solid transparent;
    border-right: 10px solid black;
    border-top: 5px solid transparent;

    top: 50%;
    transform: translateY(-50%);
}

header #bottom-header {
    display: flex;
    justify-content: space-between;
}

header #version {
    font-family: 'Inter';
    font-size: 12px;
    font-weight: 300;
}

header #author {
    font-family: 'Inter';
    font-size: 12px;
    font-weight: normal;
}

#content-wrapper {
    flex-grow: 1;
}

footer {
    flex-grow: 0;

    padding: 12px 8px;

    border-top: 1px solid #A0A0A0;
}

footer #content-desc {
    font-family: 'Inter';
    font-size: 12px;
    font-weight: 300;

    margin-left: 24px;

    position: relative;
}

#content-desc::before {
    content: '';
    width: 4px;
    height: 4px;

    position: absolute;
    left: -12px;
    top: 50%;

    border-radius: 50%;

    background-color: black;

    transform: translateY(-50%);
}

/*
header
div.top-header
div.bottom-header
span.version
span.author-wrapper
span.author

div.content-wrapper

footer.content-footer
h3.content-desc
*/