.main-title {
    font-family: 'Inter';
    font-weight: 300;
    font-style: normal;
    font-size: 24px;
}

.sm-text {
    font-family: 'Inter';
    font-size: 12px;
    font-weight: 300;
}

.default-input {
    font-family: 'Inter';
    font-size: 14px;

    border: 1px solid #A0A0A0;
    border-radius: 4px;

    padding: 8px;
}

.default-btn {
    font-family: 'Inter';
    font-size: 14px;

    border: 1px solid #A0A0A0;
    border-radius: 4px;

    padding: 8px 16px;
}

.default-btn-sm {
    font-family: 'Inter';
    font-size: 8px;

    border: 1px solid #A0A0A0;
    border-radius: 4px;

    padding: 4px 8px;
}